*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

.hero{
    color: aqua;
    background-image: url(image/bg1.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.project{
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}

.project-item{
    float: left;
    width: 32%;
    border: 1px solid green;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: antiquewhite;
    text-align: center;
    color: green;
}

.project-image{
    width: 100%;
    height: 200px;
}

.foter-item{ 
   margin-top: 10px;
   background-color: antiquewhite;
   height: 150px;
   color: green;
  


}

.foter-item1{
    float: left;
    width: 33%; 
}

.link{
    text-decoration: none;
    color: green;
    display: block;
}
